# Include package files
include README.md
include LICENSE
include install.sh
recursive-include droplan/templates *.html
recursive-include droplan/backend *.py
recursive-exclude droplan/backend __pycache__
recursive-exclude droplan/backend *.pyc
recursive-exclude droplan/backend *.pyo
recursive-exclude droplan/backend bucket
recursive-exclude droplan/backend shared_files
